---
import Layout from "../layouts/Layout.astro";
import ConnectionForm from "../components/ConnectionForm.astro";
import ForgotPasswordForm from "../components/ForgotPasswordForm.astro";
---

<Layout title='Forgot Password.'>
  <main>
    <h1>Forgot <span class='text-gradient'>Password</span></h1>
    <ConnectionForm />
    <ForgotPasswordForm />

    <div
      id='message'
      class='toast align-items-center border-0 mt-3 m-auto'
      role='alert'
      aria-live='assertive'
      aria-atomic='true'
    >
      <div class='d-flex'>
        <div id='message-body' class='toast-body'>
          Hello, world! This is a toast message.
        </div>
        <button
          type='button'
          class='btn-close btn-close-white me-2 m-auto'
          data-bs-dismiss='toast'
          aria-label='Close'></button>
      </div>
    </div>
  </main>
</Layout>

<script>
  const forgotPasswordForm = document.getElementById("forgot-password");

  forgotPasswordForm.addEventListener("submit", forgotPassword);

  function forgotPassword(e: { preventDefault: () => void }) {
    e.preventDefault();

    const HOST = document.getElementById("HOST") as HTMLInputElement | null;
    const messageElement = document.getElementById("message");
    const messageBody = document.getElementById("message-body");
    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(messageElement);
    const email = document.getElementsByName(
      "email"
    )[0] as HTMLInputElement | null;

    fetch(`${HOST.value}/api/sessions/forgot-password`, {
      method: "POST",
      body: JSON.stringify({
        email: email.value,
      }),
      headers: {
        "Content-type": "application/json; charset=UTF-8",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(
          "🚀 ~ file: forgot-password.astro:50 ~ .then ~ data:",
          data
        );

        // Verificar si la respuesta tiene una propiedad 'success' o 'error'
        if (data.status === "success") {
          messageBody.innerText = data.message;
          if (messageElement.classList.contains("text-bg-danger")) {
            messageElement.classList.remove("text-bg-danger");
          }
          messageElement.classList.add("text-bg-success");
          toastBootstrap.show();
        } else {
          messageBody.innerText = data.message;
          if (messageElement.classList.contains("text-bg-success")) {
            messageElement.classList.remove("text-bg-success");
          }
          messageElement.classList.add("text-bg-danger");
          toastBootstrap.show();
        }
      })
      .catch((error) => {
        console.error("Error al enviar la solicitud:", error);
        messageElement.innerText = "Ocurrió un error en el servidor";
      });
  }
</script>
