---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LinkedinBadge from "../components/LinkedinBadge.astro";
---

<Layout title='Welcome to my Forms playground.'>
  <main>
    <h1 class='mb-3'>
      Welcome to my <span class='text-gradient'>Forms</span> playground.
    </h1>

    <ul role='list' class='link-card-grid'>
      <Card
        href='/forgot-password'
        title='Forgot Password'
        body='From here you can send the mail with the token'
        target='_self'
      />
      <Card
        href='/change-password'
        title='Change Password'
        body='To change the password, you will need the token'
        target='_self'
      />
      <Card
        href='https://jesusarrioja.dev/'
        title='My Portafolio'
        body='I introduce myself as a Web Developer specialized in Wordpress, web servers and cloud computing services (DigitalOcean, AWS, Google Cloud Platform)'
        target='_blank'
      />
      <LinkedinBadge />
    </ul>
  </main>
</Layout>

<style>
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
