---
import Layout from "../layouts/Layout.astro";
import ConnectionForm from "../components/ConnectionForm.astro";
import ResetPasswordForm from "../components/ResetPasswordForm.astro";
---

<Layout title='Reset Password.'>
  <main>
    <h1>Reset Password</h1>
    <ConnectionForm />
    <ResetPasswordForm />

    <div id='message'></div>
  </main>
</Layout>

<script>
  const urlSearchParams = new URLSearchParams(window.location.search);
  const params = Object.fromEntries(urlSearchParams.entries());
  console.log(params);
  const resetPasswordForm = document.getElementById("reset-password");

  resetPasswordForm.addEventListener("submit", resetPassword);

  function resetPassword(e: { preventDefault: () => void }) {
    e.preventDefault();
    const HOST = document.getElementById("HOST") as HTMLInputElement | null;
    const messageElement = document.getElementById("message");
    const password = document.getElementsByName(
      "reset-password"
    )[0] as HTMLInputElement | null;

    fetch(`${HOST.value}/api/sessions/reset-password/?token=${params.token}`, {
      method: "POST",
      body: JSON.stringify({
        password: password.value,
      }),
      headers: {
        "Content-type": "application/json; charset=UTF-8",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("🚀 ~ file: reset-password.astro:50 ~ .then ~ data:", data);

        // Verificar si la respuesta tiene una propiedad 'success' o 'error'
        if (data.status === "success") {
          messageElement.innerText = "Contraseña restablecida con éxito";
        } else {
          messageElement.innerText = "Ocurrió un error desconocido";
        }
      })
      .catch((error) => {
        console.error("Error al enviar la solicitud:", error);
        messageElement.innerText = "Ocurrió un error en el servidor";
      });
  }
</script>
