<form id='change-password' class='form-floating d-grid gap-2'>
  <input
    id='change-password-input'
    class='form-control'
    name='change-password'
    type='password'
  />
  <label for='change-password-input'>Coloca tu nueva contraseña</label>
  Confirma abajo(me dio hueva ajustar esto)
  <input
    id='confirm-input'
    class='form-control'
    name='change-password'
    type='password'
  />

  <input
    class='btn btn-primary w-100'
    type='submit'
    value='Change Password'
    name='submit'
  />
</form>
