<form id='change-password' class='form-floating d-grid gap-2'>
  <div class='form-floating'>
    <input
      id='change-password-input'
      class='form-control'
      name='change-password'
      type='password'
    />
    <label for='change-password-input'>New Password</label>
  </div>
  <div class='form-floating'>
    <input
      id='confirm-input'
      class='form-control'
      name='confirm-input'
      type='password'
    />
    <label for='confirm-input'>Confirm the password</label>
  </div>
  <input
    class='btn btn-primary w-100'
    type='submit'
    value='Change Password'
    name='submit'
  />
</form>
