---
interface Props {
  endpoint: string;
}
const { endpoint } = Astro.props;
---

<div class='input-group flex-nowrap my-3'>
  <div class='input-group form-floating'>
    <input
      type='text'
      name='HOST'
      class='form-control'
      placeholder='http://localhost:5000'
      aria-label='Coloca tu host y puerto'
      aria-describedby='addon-wrapping'
      value='http://localhost:5000'
      id='HOST'
    />
    <span class='input-group-text' id='basic-addon2'>{endpoint}</span>
    <label for='HOST'>API Base URL</label>
  </div>
</div>
