<form id='forgot-password' class='form-floating d-grid gap-2'>
  <input id='email-input' class='form-control' name='email' type='email' />
  <label for='email-input'>Ingresa tu correo</label>
  <input
    class='btn btn-primary w-100'
    type='submit'
    value='Forgot Password'
    name='submit'
  />
</form>
