<form id='reset-password' class='form-floating d-grid gap-2'>
  <input
    id='reset-password-input'
    class='form-control'
    name='reset-password'
    type='password'
  />
  <label for='reset-password-input'>Coloca tu nueva contraseña</label>
  <input
    class='btn btn-primary w-100'
    type='submit'
    value='Reset Password'
    name='submit'
  />
</form>
