<form id='signup-form' class='form-floating d-grid gap-2 my-5'>
  <h2>Signup</h2>
  <div class='row align-items-start'>
    <div class='col'>
      <div class='form-floating'>
        <input
          id='name-input'
          class='form-control'
          name='name'
          type='text'
          placeholder='Name'
        />
        <label for='name-input'>Name</label>
      </div>
    </div>
    <div class='col'>
      <div class='form-floating'>
        <input
          id='lastname-input'
          class='form-control'
          name='lastname'
          type='text'
          placeholder='Last name'
        />
        <label for='name-input'>Last name</label>
      </div>
    </div>
  </div>
  <div class='form-floating'>
    <input
      id='email-input'
      class='form-control'
      name='email'
      type='email'
      placeholder='Email'
    />
    <label for='email-input'>Email</label>
  </div>
  <div class='form-floating'>
    <input
      id='password-input'
      class='form-control'
      name='password'
      type='password'
      placeholder='Password'
    />
    <label for='password-input'>Password</label>
  </div>
  <input
    class='btn btn-primary w-100'
    type='submit'
    value='Sign Up'
    name='submit'
  />
</form>
